<a href="https://colab.research.google.com/github/viett887g/chuanhoa/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np

In [11]:
from sklearn import preprocessing

 Dữ liệu không được chuẩn hóa

In [84]:
f1=pd.read_csv("/content/ex1data2.txt")
print(f1)

    2104  3  399900
0   1600  3  329900
1   2400  3  369000
2   1416  2  232000
3   3000  4  539900
4   1985  4  299900
5   1534  3  314900
6   1427  3  198999
7   1380  3  212000
8   1494  3  242500
9   1940  4  239999
10  2000  3  347000
11  1890  3  329999
12  4478  5  699900
13  1268  3  259900
14  2300  4  449900
15  1320  2  299900
16  1236  3  199900
17  2609  4  499998
18  3031  4  599000
19  1767  3  252900
20  1888  2  255000
21  1604  3  242900
22  1962  4  259900
23  3890  3  573900
24  1100  3  249900
25  1458  3  464500
26  2526  3  469000
27  2200  3  475000
28  2637  3  299900
29  1839  2  349900
30  1000  1  169900
31  2040  4  314900
32  3137  3  579900
33  1811  4  285900
34  1437  3  249900
35  1239  3  229900
36  2132  4  345000
37  4215  4  549000
38  2162  4  287000
39  1664  2  368500
40  2238  3  329900
41  2567  4  314000
42  1200  3  299000
43   852  2  179900
44  1852  4  299900
45  1203  3  239500

 Dữ liệu được chuẩn hóa theo công thức mean normalization

In [49]:
import pandas as pd
housing = pd.read_csv("/content/ex1data2.txt")
d = preprocessing.normalize(housing, axis=0)
scaled_df1 = pd.DataFrame(d, columns=names)
scaled_df1.head()

       2104         3    399900
0  0.109694  0.135526  0.134617
1  0.164541  0.135526  0.150572
2  0.097079  0.090351  0.094669
3  0.205676  0.180702  0.220309
4  0.136089  0.180702  0.122376

Using MinMaxScaler() to Normalize Data in Python

In [50]:
housing = pd.read_csv("/content/ex1data2.txt")
scaler = preprocessing.MinMaxScaler()
names = housing.columns
d = scaler.fit_transform(housing)
scaled_df2 = pd.DataFrame(d, columns=names)
scaled_df2.head()

       2104     3    399900
0  0.206288  0.50  0.301887
1  0.426917  0.50  0.375660
2  0.155543  0.25  0.117170
3  0.592388  0.75  0.698113
4  0.312466  0.75  0.245283

So sánh kết quả của w_optimal trong các trường hợp nêu trên

In [87]:
print(scaled_df1.iloc[:,-1].head(5))
print(scaled_df2.iloc[:,-1].head(5))
print(f1.iloc[:,:1].head(5))

0    0.134617
1    0.150572
2    0.094669
3    0.220309
4    0.122376
Name: 399900, dtype: float64
0    0.301887
1    0.375660
2    0.117170
3    0.698113
4    0.245283
Name: 399900, dtype: float64
   2104
0  1600
1  2400
2  1416
3  3000
4  1985